<div class="mt-5" id="conversion_result">
  <label for="converted_size" class="block mb-2 text-sm font-medium text-gray-900">Converted Size</label>
  <input disabled type="text" value="<%= converted_size %>" id="converted_size" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Size" />
</div>